* {
  margin: 0px;
  padding: 0px;
}

a {
  color: green;
}

i {
  float:left;
  margin-right: 10px;
}

i:hover {
  color: grey;
  cursor: auto;
}

input[type=text]:focus + label,
input[type=password]:focus + label,
input[type=email]:focus + label,
textarea:focus + label {
  color: black !important;
}

.row input[type=text]:focus,
.row input[type=password]:focus,
.row input[type=email]:focus,
.row textarea:focus {
  border-bottom: 1px solid black !important;
  box-shadow: 0 1px 0 0 black !important
}

.input-field textarea :focus + label {
  color: black !important;
}

.row .input-field textarea text:focus {
  border-bottom: 1px solid black !important;
  box-shadow: 0 1px 0 0 black !important
}

input[type=range] + .thumb {
  background-color: #8CC63F;
}

input[type=range] + .thumb.active .value {
  color: black;
}

input[type=range]::-webkit-slider-thumb {
  background-color: #8CC63F;
}

input[type=range]::-moz-range-thumb {
  background-color: #8CC63F;
}

input[type=range]::-ms-thumb {
  background-color: #8CC63F;
}

.checkbox-green[type="checkbox"]:checked + label:before{
  border: 2px solid #8CC63F;
  background-color: #8CC63F;
}