* {
  margin: 0px;
  padding: 0px;
}

a {
  color: teal;
}

i {
  float:left;
  margin-right: 10px;
}

i:hover {
  color: grey;
  cursor: auto;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 22px;
  height: 18px;
  left: 22px;
  top: 18px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #212121;
}



/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: black;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
  max-height: 100%;
  overflow: hide;
}

/* General sidebar styles */
.bm-menu {
  background: #212121;
  font-size: 1.15em;
}

/* Wrapper for item list */
.bm-item-list {
  background: #212121;
  text-align: left;
  margin-top: 3em;
  margin-left: 2em;
  color: #eeeeee
}

/* Individual item */
.bm-item {
  display: inline-block;
}

.bm-item:hover {
  color: #bdbdbd;
}

.bm-item:focus {
  outline: none;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, .4);
}